@import url(fonts.css);
@import url(main.css);
@import url(header.css);
@import url(footer.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 20px;
}

main > div {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    background-color: #383330;
    width: 200px;
    height: 95px;
}

main > div > div {
    display: flex;
    align-items: center;
    gap: 5px;
}