@import url(fonts.css);
@import url(main.css);
@import url(header.css);
@import url(footer.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    background: none;
    border: 1px white solid;
    color: white;
}

input[type="password"] {
    padding-left: 5%;
    font-family: "Montserrat-regular";
    font-size: 1rem;
}

main > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #383330;
    width: 524px;
    height: 330px;
}

main > div > input {
    width: 90%;
    height: 50px;
}

main > div > div {
    width: 90%;
    display: flex;
    justify-content: end;
}

main > div > div input {
    width: 30%;
    height: 50px;
}